.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(50, 67, 189, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(50, 67, 189, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: calc(100vh * 0.3);
}

.container > span {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
}

.search_engine {
  position: absolute;
  right: 0;
  top: 0;
  height: var(--searchInputIconHeight);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-right: 0;
}

.search_bar {
  position: relative;
  /* display: flex; */
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.search_input {
  width: var(--searchInputWidth);
  height: var(--searchInputIconHeight);
  border-radius: var(--searchInputRadius);
  border: none;
  box-shadow: rgba(100, 100, 111, 0.15) 0px 6px 30px 0px;
  padding: 0.75rem;
  padding-left: var(--searchInputIconHeight);
  padding-right: 4rem;
  transition: border-radius 0.2s ease-in-out;
}

.search_input:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--searchInputIconHeight);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.search_lists {
  position: absolute;
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.15) 0px 6px 30px 0px;
  background: var(--searchInputListsBackground);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  margin-top: 16px;
  border-radius: calc(var(--searchInputRadius) * 0.8);
  overflow-y: auto;
  height: 0;
  width: var(--searchInputWidth);
  transition: height 0.25s ease-in-out, opacity 500ms ease-in-out, border 0.1s ease-in-out !important;
}

.search_lists > span {
  height: 1.5rem;
  padding: 8px;
}

.GoogleSearchResultsCard,
.NaverSearchResultsCard {
  position: relative;
  height: 6rem;
  text-overflow: ellipsis;
  word-break: break-all;
  padding: 4px;
  width: 100%;
  background-color: #fff;
  background-clip: content-box;
  transition: background-color 0.2s linear !important;
  border-radius: 16px;
}

.GoogleSearchResultsCard:hover,
.NaverSearchResultsCard:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.GoogleSearchResultsCard a,
.NaverSearchResultsCard a {
  color: #000;
  text-decoration: none;
}

.GoogleSearchResultsCard > a > div,
.NaverSearchResultsCard > a > div {
  margin: 4px;
}

.GoogleSearchResultsCard span[id="description"],
.NaverSearchResultsCard span[id="description"] {
  color: rgba(0, 0, 0, 0.6);
}

.GoogleSearchResultsCard span[id="postdate"],
.NaverSearchResultsCard span[id="postdate"] {
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  bottom: 4px;
  right: 8px;
}

.noSearchResults {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
